*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Background image */

body {
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/backgroundImg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* ------------------------ */
/* Start index */


/* ------------------------ */
/* Start header */
/* ---------------------- */

.navbar-brand img{
    transition: all 0.2s ease-in;
}

.navbar-brand img:hover {
    transform: scale(0.95);
}

.nav-item a{
    transition: all 0.2s ease-in;
}

.nav-item a:hover {
    transform: scale(0.95);
}

 /* ----------------- */ 
/* Main */
/* ----------------- */

.main__container-1 {
    padding-top: 1rem;
    padding-left: 2rem;
    color: white;
    font-size: 1rem;
}

main section.main__gridArea {  
    width: 80%;
    margin: 2rem auto;
}

/* sección de imagenes uno */
/* ------------------ */
.img__1 {
    grid-area: img1;
}

.img__2 {
    grid-area: img2;
}

.img__3 {
    grid-area:img3;
}

.main__grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img1 img1" 
    "img2 img3"
}

section div.main__grid1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* sección de imagenes dos */
/* ------------------ */

.img__4 {
    grid-area: img4;
}

.img__5 {
    grid-area: img5;
}

.img__6 {
    grid-area:img6;
}

.main__grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img4 img5" 
    "img4 img6"
}

section div.main__grid2 img{
    width: 100%;
    height: 100%;
    border: solid black;
    object-fit: cover;
}

/* sección de imagenes tres */
/* ------------------ */

.img__7 {
    grid-area: img7;
}

.img__8 {
    grid-area: img8;
}

.img__9 {
    grid-area:img9;
}

.main__grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img7 img8" 
    "img9 img9"
}

section div.main__grid3 img{
    width: 100%;
    height: 100%;
    border: solid black;
    object-fit: cover;
}

.main__container-2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2rem; /* Revisar que acá pierde el sentido en mobile */
}

.main__container-3 {
    padding: 2rem;
    color: white;
    font-size: 1.1rem; 
}

/* ----------------- */
/* Media queries main */
/* ----------------------- */

@media screen and (min-width: 768px) {
    
    .main__container-1 {
        font-size: 2rem;
    }

    .main__grid1 {
        grid-area: main__grid1;
    }

    .main__grid2 {
        grid-area: main__grid2;
    }

    .main__grid3 {
        grid-area: main__grid3;
    }

    .main__gridArea {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "main__grid1 main__grid2 main__grid3";
    }

    .main__container-2 ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

   .main__container-3 {
        padding: 2rem 9rem;
        font-size: 1.5rem; 
    }
    
    .main__imgContainer img {
        transition: 0.5s ease-in;
    }

    .main__imgContainer  img:hover{
        transform:scale(1.2)
    }    
}

/* ------------------- */
/* End Main */

/* --------------------> */
/* End index */
/* -------------------- */
/* Start store */
/* ------------------- */

.store__body {
    display: grid;
    grid-template-rows: 5.2rem 4rem 160rem 3rem 
}

/* inicia Main */
/* ----------------- */

.store__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaContenido {
    grid-area: cajaContenido;
    align-self: center;
    justify-self: center;
    color: white;
}

.cajaPrecio {
    grid-area: cajaPrecio;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 0.6rem;
}

.caja1 {
    grid-area: caja1;
}
.caja2 {
    grid-area: caja2;

}
.caja3 {
    grid-area: caja3;
}

.caja4 {
    grid-area: caja4;
}

.caja5 {
    grid-area: caja5;
}

.store__tiposTela {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:7% 8% 25% 29% 29%;
    grid-template-areas: 
        "cajaContenido cajaContenido" 
        "cajaPrecio cajaPrecio"   
        "caja1 caja2" 
        "caja3 caja3"
        "caja4 caja5";
}

img {
    width: 100%;
    height: 100%;
}


/* ------------------- */
/* Media queries Store */
/* ---------------------- */

@media screen and (min-width: 768px){
    .store__header {
        grid-area: header;
    }

    .store__aside {
        grid-area: aside;
        flex-direction: row;
        flex-direction: column;
        align-items: center;
    }

    .store__aside ul{
        flex-direction: column;
        height: 20%;
    }

    .cajaPrecio {
        font-size: 0.9rem;
    }

    .store__main {
        margin: 5rem;
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "store__tiposTela1 store__tiposTela2"
            "store__tiposTela3 store__tiposTela4";
    }
    .store__footer {
        grid-area: footer;
        height: auto;
    }

    .store__body {
        grid-template-columns: 10% 90%;
        grid-template-rows: 6% 90% 4%;
        grid-template-areas: 
            "header header"
            "aside main"
            "footer footer";
    }

    #store__tiposTela1 {
        grid-area: store__tiposTela1;
    }
    #store__tiposTela2 {
        grid-area: store__tiposTela2;
    }
    #store__tiposTela3 {
        grid-area: store__tiposTela3;
    }
    #store__tiposTela4 {
        grid-area: store__tiposTela4;
    }
    .store__main img {
    transition: 0.5s ease-in;
    }

    .store__main img:hover{
    transform:scale(1.2)
    }
}   

/* --------------------- */
/* End store------------- */
/* ------------------> */
