.footer__socialMedia-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    
    a {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        color: white;
        border-radius: 50%;
        transition: all 0.5s ease-in;

        &:hover {
            transform: scale(1.2) translateY(-5px);
        }
    }
  }