$colorbackground: url(../assets/img/Background1.jpg);
$mainViewPort: 78vh;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Background image */

body {
    background: $colorbackground;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Image properties */

img {
    width: 100%;
    height: 100%;
    background-position: cover;
}

/* ----------Mixin ---------- */

@mixin centrarCaja () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transitionDefault () {
    transition: all 0.5s ease-in
}

@mixin transformDefaul {
    transform:scale(1.2)
}

/* ----------Maps ------------- */

$estilos:(
    color: black,
    fontSize: 1rem,
);

