@import "footer.scss";
@import "general.scss";
@import "store.scss";


/* Start index */
/* ------------------- */
/* Start header */
/* ---------------------- */

.navbar-brand {
    img{
        @include transitionDefault;
        width: 4rem;
        height: 3rem;
        &:hover {
            transform: scale(0.95);
         }
    }
}

.nav-item a{
    @include transitionDefault;
    &:hover {
        transform: scale(0.95);
    }
}

/* ----------------- */
/* Media queries main */
/* ----------------------- */

@media screen and (min-width: 768px) {
    .main__imgContainer {
        img {
            @include transitionDefault;
            &:hover {
                transform:scale(1.2)
            }
    
        }
    }
}

/* ------------------- */
/* End Main */
/* --------------------> */
/* End index */
/* -------------------- */
/* Start store */
/* ------------------- */


/* --------------------- */
/* End store------------- */
/* ----start sales------- */
/* ------------------- */

.sales__main {
    .container-fluid {
    margin-left: 0.2rem;
    }
}

.sales__itemsContainer {
    .card-text{
        color: map-get($estilos, color);
        font-size: map-get($estilos, fontSize);
    }
} 

@media screen and (min-width: 768px){

    .sales__main {
        margin-left: 2rem;
    }

    .sales__itemsContainer {
        img{ 
            @include transitionDefault;
            &:hover {
                transform:scale(0.9);
                cursor:pointer
            }
        
        }
        .price{ 
            @include transitionDefault;
            &:hover {
                transform: scale(1.1) translateY(-5px);
                cursor:pointer
            }
        }
    }
}
/* -----------------> */
/* Start login */
/* --------------> */

.login__mainContainer {
    min-height: $mainViewPort;
    @include centrarCaja;

    .login__form {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px){
    .login__mainContainer .login__form {
        
        .login__buttons [type=reset] {
            @include transitionDefault;
            &:hover {
                transform: scale(1.3) translateX(-10px);
                cursor:pointer
            }
        }
        .login__buttons [type=submit] {
            @include transitionDefault;
            &:hover {
                transform: scale(1.3);
                cursor:pointer
            }
        }
        .login__buttons [type=register] {
            @include transitionDefault;
            &:hover {
                transform: scale(1.3) translateX(10px);
                cursor:pointer
            }   
        }
    }
}

/* ------------------> */
/* Start contact */
/* ------------------------ */

.contact__mainContainer {
    min-height: $mainViewPort;
    @include centrarCaja;

    .contact__form {
        display: grid;
        justify-content: center;
        align-items: center;
    }

        .contact__input {
            @include centrarCaja;
        }
}

/* ------------------- */
/* Media queries contact */
/* ---------------------- */

@media screen and (min-width: 768px){
    .contact__mainContainer .contact__form {
        
        .contact__buttons [type=reset] {
            @include transitionDefault;
            &:hover {
                transform: scale(1.3) translateX(-10px);
                cursor:pointer
            }
    }
        .contact__buttons [type=submit] {
            @include transitionDefault;
            &:hover {
                transform: scale(1.3) translateX(10px);
                cursor:pointer
            }
        }
    }
}

/* -----------------> */
/* End contact */
/* ------------------> */
/* Start location */

.location__mapContainer iframe {
    width: 100%;
}

/* ------------------- */
/* Media queries location */
/* ---------------------- */

@media screen and (min-width: 768px){

    .location__mainContainer {
        width: 70%;
    }
}
